<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/order_confirmation.css' %}">
    
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="log" onclick="window.location.href='../../'">
                <img src="{% static 'images/logo2c.png' %}" alt="" class="logo">
                <h3 class="title">TRACK TONE</h3>
            </div>
            
            <div class="confirmation-title">
                ORDER CONFIRMATION
            </div>
    
            <div class="add-more" onclick="window.location.href='../'">
                Add More!
            </div>
            
        </div>
        
        <div class="overlay"></div>
        <div class="popup">
            <div class="popup-content">
            <span class="order-confirmed">Order Confirmed! <i class="fas fa-check-circle"></i></span>
            </div>
        <div class="buttons">
        <button class="home-button" onclick="window.location.href='../../'">Home</button>
        <button class="store-button" onclick="window.location.href=`{% url 'store' %}`">Store</button>
    </div>
</body>
</html>