*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato',sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: black;

}

.logo{
    height: 55px;
    width: 60px;
}

.log{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title{
    color: white;
}

.check-title{
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.add-more{
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.shipment-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shipment-detail{
    margin-top: 10px;
    margin-left: 10px;
    height: 500px;
    width: 800px;
    border-radius: 10px;
    background-color: rgba(211, 231, 250, 0.748);
    border: 1px solid black;
    /* background-color: red; */
}

.del-title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

/* input{
    font-size: ;
} */

.input-box{
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    width: 391px;
    height: 50px;
    margin-top: 15px;
    margin-left: 4px;
}

.input-box::placeholder{
    font-weight: 700;
    font-size: 13px;
}

textarea{
    padding: 5px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 4px;
    resize: none;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.place-order{
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: 20px;
    height: 40px;
    width: 350px;
    transition: all 0.20s;
}

.place-order:hover{
    color: black;
    background-color: white;
}

footer{
    margin-top: 47px;
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}


footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}