*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato',sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: black;

}

.logo{
    height: 55px;
    width: 60px;
}

.log{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title{
    color: white;
}

.confirmation-title{
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.add-more{
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 998; 
}
  
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0; 
    border-radius: 10px;
    padding: 40px;
    width: 80%; 
    max-width: 500px; 
    height: auto; 
    max-height: 80%; 
    overflow-y: auto; 
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15), 0 0 0 2px rgba(0, 0, 0, 0.05); 
    z-index: 999; 
}
  

.popup-content {
    text-align: center;
}
  
.order-confirmed {
    font-size: 24px;
    color: purple; 
    font-weight: bold;
    text-transform: uppercase;
}
  

.fa-check-circle {
    color: purple; 
    margin-left: 10px; 
}
  

.buttons {
    margin-top: 20px;
    text-align: center;
}
  
.home-button,
.store-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.home-button:hover,
.store-button:hover {
    background-color: rgb(171, 58, 171);
}
  